account-manage-api/src/main/mule/account-manage-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <validation:config name="Validation_Config" doc:name="Validation Config" doc:id="a37e7525-7f1f-45d5-8fcf-03ec531ff967" />
	<flow name="account-manage-api-main">
        <http:listener config-ref="account-manage-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="account-manage-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="account-manage-api-console">
        <http:listener config-ref="account-manage-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="account-manage-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\accounts:application\json:account-manage-api-config">
        <logger level="INFO" doc:name="Stage Logger" doc:id="feeb1975-3486-43ff-b7e7-eadc4527387c" message="Message Id : #[correlationId] || Request Received for account manage API || #[payload] "/>
		<ee:transform doc:name="Set Data and Format Validation errorResponse" doc:id="e86d19e9-fdcb-4685-a7b0-2c32be7e1aff" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="errorResponse" ><![CDATA[%dw 2.0
output application/json
---
[({
	"errorMessage": "Required Value is Missing for [accountNumber]"
}) if (isEmpty(payload.accountNumber)),
({
	"errorMessage": "Invalid Value Received for [accountNumber]. Allowed Length 40"
}) if ((!isEmpty(payload.accountNumber)) and !((sizeOf(payload.accountNumber) >= 1) and (sizeOf(payload.accountNumber) <= 40))),
({
	"errorMessage": "Required Value is Missing for [accountName]"
}) if (isEmpty(payload.accountName)),
({
	"errorMessage": "Invalid Value Received for [accountName]. Allowed Length 255"
}) if ((!isEmpty(payload.accountName)) and !((sizeOf(payload.accountName) >= 1) and (sizeOf(payload.accountName) <= 255))),
({
	"errorMessage": "Required Value is Missing for [billingStreet]"
}) if (isEmpty(payload.billingStreet)),
({
	"errorMessage": "Invalid Value Received for [billingStreet]. Allowed Length 255"
}) if ((!isEmpty(payload.billingStreet)) and !((sizeOf(payload.billingStreet) >= 1) and (sizeOf(payload.billingStreet) <= 255))),
({
	"errorMessage": "Required Value is Missing for [billingCity]"
}) if (isEmpty(payload.billingCity)),
({
	"errorMessage": "Invalid Value Received for [billingCity]. Allowed Length 40"
}) if ((!isEmpty(payload.billingCity)) and !((sizeOf(payload.billingCity) >= 1) and (sizeOf(payload.billingCity) <= 40))),
({
	"errorMessage": "Required Value is Missing for [billingCountry]"
}) if (isEmpty(payload.billingCountry)),
({
	"errorMessage": "Invalid Value Received for [billingCountry]. Allowed Length 80"
}) if ((!isEmpty(payload.billingCountry)) and !((sizeOf(payload.billingCountry) >= 1) and (sizeOf(payload.billingCountry) <= 80))),
({
	"errorMessage": "Required Value is Missing for [billingState]"
}) if (isEmpty(payload.billingState)),
({
	"errorMessage": "Invalid Value Received for [billingState]. Allowed Length 80"
}) if ((!isEmpty(payload.billingState)) and !((sizeOf(payload.billingState) >= 1) and (sizeOf(payload.billingState) <= 80))),
({
	"errorMessage": "Required Value is Missing for [billingPostalCode]"
}) if (isEmpty(payload.billingPostalCode)),
({
	"errorMessage": "Invalid Value Received for [billingPostalCode]. Allowed Length 20"
}) if ((!isEmpty(payload.billingPostalCode)) and !((sizeOf(payload.billingPostalCode) >= 1) and (sizeOf(payload.billingPostalCode) <= 20))),
({
	"errorMessage": "Required Value is Missing for [accountPhoneNumber]"
}) if (isEmpty(payload.accountPhoneNumber)),
({
	"errorMessage": "Invalid Value Received for [accountPhoneNumber]. Allowed Length 40"
}) if ((!isEmpty(payload.accountPhoneNumber)) and !((sizeOf(payload.accountPhoneNumber) >= 1) and (sizeOf(payload.accountPhoneNumber) <= 40)))]
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set errorMessage" doc:id="b75d64eb-6ccb-4df3-b2c6-cf9fd472e95c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/json
var errorResponse = vars.errorResponse
---
if ( !isEmpty(errorResponse) ) (errorResponse..errorMessage) else null]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:id="dc5ae637-65a6-4469-9a03-8243751392f0" config-ref="Validation_Config" expression="#[isEmpty(vars.errorMessage)]" message="Error in Create Account Request" doc:name="Validate errorMessage">
			<error-mapping targetType="DATA:VALIDATION" />
		</validation:is-true>
		<async doc:name="Async" doc:id="10c84810-8f1f-466a-8914-d2a79d29101e" >
			<flow-ref doc:name="account-manage-api-log-db Call" doc:id="e101d6b3-e067-48e3-8972-e1eb675bd8da" name="account-manage-api-log-db" />
		</async>
		<ee:transform doc:name="Frame Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  correlationId: correlationId,
  userMessage: "Account created successfully"
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-error-handlingError_Handler" />
    </flow>
	<sub-flow name="account-manage-api-log-db" doc:id="b1e04fc9-c7d8-4d51-8f28-9602c3542de6" >
		<logger level="INFO" doc:name="Before DB Call Logger" doc:id="476346f3-9ccf-44f4-bb0f-5e1ee31f1af1" message="Message Id : #[correlationId] || Before SQL DB call" />
		<db:insert doc:name="Insert" doc:id="e3412e6e-d7ea-4a15-a636-492fe814e574" config-ref="Database_Config">
			<db:sql ><![CDATA[${mulesoft.dev.insert}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	messageId: correlationId,
	apiRequest: write(payload,"application/json"),
	taskName: "Create Account",
	status: "Received",
	requestTimestamp: now()
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="After DB Call Logger" doc:id="95889d24-87e7-4ce3-b922-03c62bad2e85" message="Message Id : #[correlationId] || After SQL DB call" />
	</sub-flow>
</mule>
